MINIO_ENDPOINT=localhost:9000
MINIO_ROOT_USER=your_minio_user
MINIO_ROOT_PASSWORD=your_minio_password
MINIO_SECURE=false

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=fraud_platform
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
